.wall {
  width: 400px;
  height: 400px;
  background: #FF8072 no-repeat;
  position: relative;
  border: 3px solid black;
}
.table{
  border: 1px solid black;

}
#snake {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #000000;
  padding: 0px;
  left: 200px;
  top: 200px;

}
#plus{
  height: 22px;
  width: 20px;
  paddding:0px;
}
#minus{
  height: 22px;
  width: 20px;
  paddding:0px;
}



.direction
{
  width: 40px;
  height: 42px;
  background-color: chartreuse;
  text-align: center;
  border: 1px solid black;
}

#result {
  border: 1px solid black;
  width: 40px;
  height: 30px;
  text-align: center;
  vertical-align: center;
  padding-top: 15px;
  background-color: aquamarine;
}
#start{
 width: 212px;
 height: 40px;
 font-size:20px;
 text-align: center;
 background-color: red;
 padding-top: 5px;
}


